@import "tailwindcss";

* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

@theme {
  --breakpoint-xs: 20rem;
}
